{# The team page of the application #}

{% extends "_common.njk" %}

{% block content %}
<div class="bd-example" id="Team">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="rounded-cirlce" src="./_shared/img/staff/team.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img class="rounded-cirlce" src="./_shared/img/staff/team1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img class="rounded-cirlce" src="./_shared/img/staff/team2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img class="rounded-cirlce" src="./_shared/img/staff/team3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img class="rounded-cirlce" src="./_shared/img/staff/team4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img class="rounded-cirlce" src="./_shared/img/staff/team5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img class="rounded-cirlce" src="./_shared/img/staff/tux.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id="Staff-Card">
<div class="card" style="width: 18rem;">
  <img src="./_shared/img/staff/ceo.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Thibaut Janssens, <i>CEO & Founder</i></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/staff/pau.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Pauline Roppe, <i>Designer</i></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/staff/louis.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Louis Cantinieaux, <i>Stagiaire</i></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/staff/steph.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Stephanie Grosjean, <i>Developper</i></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/staff/rup.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Ruppert, <i>Co-CEO & Office Mascot</i></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/staff/lud.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Ludivine Hay, <i>Human Resource</i></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/staff/mag.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Anne-Magalie Saint-Georges, <i>Developper</i></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/staff/lara.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Lara Loicq, <i>Partner Manager</i></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/staff/nad.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Nadine Traufler, <i>Analyst</i></p>
  </div>
</div>

</div>
{% endblock %}